/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}





/* Estilos específicos para información */
.informacion-body {
    background-color: #f7f7f7;
}

.informacion-h2 {
    color: #264653;
}

.informacion-p {
    font-size: 18px;
    line-height: 1.6;
}

/* Estilos específicos para contacto */
.contacto-body {
    background-color: #fff0f5;
}

.contacto-form {
    margin-top: 20px;
}

.contacto-btn {
    background-color: #e76f51;
    color: white;
    padding: 10px 20px;
    border: none;
}
