{% extends 'pages/base.html' %}
{% load static %}
<link href="{% static 'static/css/informacion.css' %}" rel="stylesheet" />

{% block title %}Información{% endblock %}

{% block header_title %}Información del Sindicato{% endblock %}

{% block content %}

<div class="container">
    <h2>Bonificaciones y Beneficios</h2>

    <div class="accordion">
        <h3 class="accordion-title">Fondo de Crédito</h3>
        <div class="accordion-content">
            <p>Libre inversión, Educación y Vivienda. Destinados exclusivamente para los trabajadores afiliados a Sintroadco.</p>
        </div>

        <h3 class="accordion-title">Auxilio de Anteojos</h3>
        <div class="accordion-content">
            <p>Auxilio de anteojos equivalente a siete (7) días de salario mínimo legal mensual vigente. Este auxilio se reconocerá cada dos (2) años, siempre y cuando exista recomendación médica y contra factura. Para el reconocimiento de este auxilio, el trabajador deberá aportar copia de la fórmula médica emitida por optómetra u oftalmólogo y de la factura de compra respectiva, anexo a la solicitud elevada a la EMPRESA. La factura debe estar a nombre del trabajador beneficiario.</p>
        </div>

        <h3 class="accordion-title">Prima de Navidad</h3>
        <div class="accordion-content">
            <p>LA EMPRESA reconocerá a los trabajadores beneficiarios de la Convención Colectiva una prima de navidad, que se pagará en los primeros quince (15) días del mes de diciembre de cada año.</p>
        </div>

        <h3 class="accordion-title">Auxilio por Maternidad</h3>
        <div class="accordion-content">
            <p>La EMPRESA reconocerá el equivalente al setenta y cinco por ciento (75%) de un (1) salario mínimo legal mensual vigente como auxilio de maternidad a las trabajadoras afiliadas a SINTROADCO. En caso de aborto involuntario, la EMPRESA otorgará el auxilio correspondiente.</p>
        </div>

        <h3 class="accordion-title">Auxilio por Paternidad</h3>
        <div class="accordion-content">
            <p>La EMPRESA reconocerá el equivalente al setenta y cinco por ciento (75%) de un (1) salario mínimo legal mensual vigente como auxilio de paternidad a los trabajadores afiliados a SINTROADCO.</p>
        </div>

        <h3 class="accordion-title">Prima de Antigüedad</h3>
        <div class="accordion-content">
            <p>A partir de la vigencia de la presente Convención Colectiva de Trabajo, la EMPRESA reconocerá una prima de antigüedad a los trabajadores beneficiarios que cumplan:</p>
            <ul>
                <li>Diez (10) años de servicio continuo: diez (10) días de salario básico.</li>
                <li>Veinte (20) años de servicio continuo: veinte (20) días de salario básico.</li>
                <li>Treinta (30) años de servicio continuo: treinta (30) días de salario básico.</li>
            </ul>
        </div>

        <h3 class="accordion-title">Auxilio por Enfermedad</h3>
        <div class="accordion-content">
            <p>La EMPRESA pagará un auxilio por enfermedad a los trabajadores que acumulen una incapacidad de origen común o laboral superior a ochenta (80) días calendario continuos o ciento ochenta (180) días. El valor será de:</p>
            <ul>
                <li>Trescientos mil pesos ($300.000) para ochenta (80) días.</li>
                <li>Quinientos mil pesos ($500.000) para ciento ochenta (180) días.</li>
            </ul>
        </div>

        <h3 class="accordion-title">Licencia por Matrimonio</h3>
        <div class="accordion-content">
            <p>La EMPRESA reconocerá una licencia remunerada por matrimonio de tres (3) días hábiles al trabajador que pertenezca a Sintroadco.</p>
        </div>

        <h3 class="accordion-title">Auxilio por Fallecimiento de Familiar</h3>
        <div class="accordion-content">
            <p>La EMPRESA pagará un auxilio no salarial de seiscientos mil pesos ($600.000) en caso de muerte del cónyuge, padres o hijos legítimos o extramatrimoniales reconocidos del trabajador.</p>
        </div>

        <h3 class="accordion-title">Prima por Reconocimiento de Pensión</h3>
        <div class="accordion-content">
            <p>La EMPRESA reconocerá una prima, no constitutiva de salario, equivalente a treinta (30) días de salario básico al momento en que el trabajador sea pensionado por la entidad de Seguridad Social correspondiente.</p>
        </div>

        <h3 class="accordion-title">Bonificación para el Personal de Almacén Afiliado a SINTROADCO</h3>
        <div class="accordion-content">
            <p>Los trabajadores del área de almacén podrán recibir una bonificación trimestral salarial equivalente a ciento cincuenta mil pesos ($150.000). Los cargos beneficiarios son:</p>
            <ul>
                <li>Operario de almacén</li>
                <li>Gestor de aseguramiento y logística</li>
                <li>Auxiliar de Bodega</li>
                <li>Controladores</li>
            </ul>
        </div>

        <h3 class="accordion-title">Acompañamiento Sindical</h3>
        <div class="accordion-content">
            <p>Todos nuestros afiliados tienen derecho al acompañamiento Sindical en procesos disciplinarios.</p>
        </div>
    </div>
</div>

<!-- JavaScript para manejar el acordeón -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var accordions = document.getElementsByClassName("accordion-title");
        for (var i = 0; i < accordions.length; i++) {
            accordions[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }
    });
</script>

<style>
    /* Justifica el texto */
    .accordion-content {
        text-align: justify;
        padding: 0 18px;
        background-color: white;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.2s ease-out;
    }

    /* Estilo del título de las secciones */
    .accordion-title {
        cursor: pointer;
        padding: 18px;
        background-color: #eee;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: background-color 0.2s;
    }

    .accordion-title:hover {
        background-color: #ccc;
        padding: 18px;
        border-radius: 5px; 
    }

    /* Estilo cuando el acordeón está activo */
    .accordion-title.active {
        background-color: blue;
        color: white;
    }
    
</style>

{% endblock %}
