<!-- templates/sindicato/inicio.html -->
{% extends 'pages/base.html' %}
{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}
<section id="inicio" class="inicio-section text-center">
    <h2>Bienvenidos a SINTROADCO</h2>
    <p>Beneficios los cuales podrás disfrutar por pertenecer a la gran familia Sintroadco</p>
    <div class="logo-container">
        <img src="{% static 'img/principalLogo.png' %}" alt="Logo SINTROADCO" class="img-fluid logo-img">
    </div>
    <p>Defendemos los derechos de los trabajadores y trabajamos por mejores condiciones laborales.</p>
</section>
<STYLE>
    .inicio-section {
        padding: 0px 0;
        background-color: #f9f9f9;
    }
    
    .inicio-section h2 {
        font-size: 2.5em;
        color: #003366; /* Cambia este color según lo que desees */
    }
    
    .logo-container {
        margin: 20px 0;
    }
    
    .logo-img {
        max-width: 1000px; /* Aumenta el tamaño de la imagen */
        width: 100%;
        height: auto;
        border-radius: 20px; /* Aumenta el radio para bordes más redondeados */
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Añade una sombra más grande */
    }
</STYLE>
    
{% endblock %}
